# macOS
.DS_Store

#gaudi
out/

# Terraform
.terraform/
.terraform.*
*.tfstate
*.tfstate.backup

# Lambda functions
src/terraform/*.zip

# Python
.pytest_cache
__pycache__/
packages/

# JetBrains
.idea/
*.iml

# Visual Studio Code
.vscode/
src/aws/lambdas/incremental_distribution/.factorypath

# Maven
.m2/
temp

# Ignore Gradle project-specific cache directory
.gradle
src/aws/lambdas/incremental_distribution/build/

# Ruby
Gemfile.lock
analytics-smoke.rb
sample.parquet
analytics-smoke.rb.old
repartition.sh
virology-testing-flows-v2.rb
stats.rb
*-cols.txt
/venv/

.rake_tasks~

*.bkp