{
  "type": "metric",
  "x": 12,
  "y": 12,
  "width": 12,
  "height": 12,
  "properties": {
    "view": "timeSeries",
    "stacked": false,
    "metrics": [
      [ "AWS/CloudFront", "TotalErrorRate", "Region", "Global", "DistributionId", "${api_distribution_id}" ],
      [ ".", "4xxErrorRate", ".", ".", ".", ".", { "label": "Total4xxErrors" } ],
      [ ".", "5xxErrorRate", ".", ".", ".", ".", { "label": "Total5xxErrors" } ],
      [ { "expression": "(m4+m5+m6)/m7*100", "label": "5xxErrorByLambdaEdge", "id": "e1" } ],
      [ "AWS/CloudFront", "LambdaExecutionError", "Region", "Global", "DistributionId", "${api_distribution_id}", { "id": "m4", "stat": "Sum", "visible": false } ],
      [ ".", "LambdaValidationError", ".", ".", ".", ".", { "id": "m5", "stat": "Sum", "visible": false } ],
      [ ".", "LambdaLimitExceededErrors", ".", ".", ".", ".", { "id": "m6", "stat": "Sum", "visible": false } ],
      [ ".", "Requests", ".", ".", ".", ".", { "id": "m7", "stat": "Sum", "visible": false } ]
    ],
    "region": "us-east-1",
    "period": 1,
    "title": "${api_name} API: Error rate (as a percentage of total requests)",
    "yAxis": {
      "left": {
        "showUnits": false
      },
      "right": {
        "showUnits": false
      }
    }
  }
},
{
  "type": "metric",
  "x": 0,
  "y": 24,
  "width": 12,
  "height": 12,
  "properties": {
    "view": "timeSeries",
    "stacked": false,
    "metrics": [
      [ "AWS/CloudFront", "Requests", "Region", "Global", "DistributionId", "${api_distribution_id}" ]
    ],
    "region": "us-east-1",
    "period": 1,
    "title": "${api_name} API: Number of requests",
    "yAxis": {
      "left": {
        "showUnits": false
      },
      "right": {
        "showUnits": false
      }
    },
    "stat": "Sum"
  }
},
{
  "type": "metric",
  "x": 12,
  "y": 24,
  "width": 12,
  "height": 12,
  "properties": {
    "view": "timeSeries",
    "stacked": false,
    "metrics": [
      [ "AWS/CloudFront", "BytesUploaded", "Region", "Global", "DistributionId", "${api_distribution_id}" ],
      [ ".", "BytesDownloaded", ".", ".", ".", "." ]
    ],
    "region": "us-east-1",
    "period": 1,
    "title": "${api_name} API: Data transfer in bytes",
    "yAxis": {
      "left": {
        "showUnits": false
      },
      "right": {
        "showUnits": false
      }
    }
  }
}