# boto - refer to https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html
boto3==1.17.14
botocore==1.20.14

# pytest
pytest==6.0.1
pytest-forked==1.3.0
pytest-mock==3.3.1
pytest-xdist==2.1.0

requests

google-cloud-storage
cryptography
pyjwt
