attrs==19.3.0
boto3==1.14.15
botocore==1.17.15
certifi==2020.6.20
chardet==3.0.4
docutils==0.15.2
flake8==3.8.3
google==2.0.3
idna==2.10
jmespath==0.10.0
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
protobuf==3.12.2
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.24.0
robotframework==3.2.1
robotframework-archivelibrary==0.4.0
robotframework-datadriver==0.3.6
robotframework-requests==0.7.0
s3transfer==0.3.3
six==1.15.0
starkbank-ecdsa==1.0.0
urllib3==1.25.9
wcwidth==0.2.5
tldextract==2.2.2
bcrypt==3.1.7
rdk==0.7.10
aws-mfa==0.0.12
