attrs==19.3.0
aws-mfa==0.0.12
aws-xray-sdk==2.6.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
# boto - refer to https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html
boto3==1.17.100
botocore==1.20.100
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
docutils==0.15.2
flake8==3.8.3
future==0.18.2
google==2.0.3
idna==2.10
importlib-metadata==1.7.0
jmespath==0.10.0
jsonpickle==1.4.1
mccabe==0.6.1
mock==3.0.5
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
protobuf==3.12.2
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.3
pytest-mock==3.3.1
python-dateutil==2.8.1
PyYAML==5.3.1
rdk==0.7.10
requests==2.24.0
requests-file==1.5.1
robotframework==3.2.1
robotframework-archivelibrary==0.4.0
robotframework-datadriver==0.3.6
robotframework-requests==0.7.0
s3transfer==0.4.2
six==1.15.0
soupsieve==2.0.1
starkbank-ecdsa==1.0.0
tldextract==2.2.2
urllib3==1.25.9
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.1.0
pyarrow==4.0.1
pandas==1.2.5
