{
    "widgets": [
        {
            "height": 6,
            "width": 12,
            "y": 15,
            "x": 12,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "ErrorLogCount", "${diagnosis_keys_processing_function}-errors" ]
                ],
                "view": "timeSeries",
                "stacked": true,
                "region": "eu-west-2",
                "stat": "Sum",
                "title": "Error Metrics - Key Processing",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 36,
            "x": 12,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "WarningLogCount", "${diagnosis_keys_processing_function}-warnings" ]
                ],
                "view": "timeSeries",
                "stacked": true,
                "region": "eu-west-2",
                "stat": "Sum",
                "title": "Warning Metrics - Key Processing",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 42,
            "x": 12,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_processing_function}' | fields @timestamp, metadata.awsRequestId as RequestId, @message | filter metadata.category = 'WARNING' | stats count(*) by metadata.name",
                "region": "eu-west-2",
                "stacked": true,
                "title": "Warning Log Count - Key Processing",
                "view": "table",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 48,
            "x": 12,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_processing_function}' | fields @timestamp, @message | filter metadata.category = 'WARNING' | sort @timestamp desc",
                "region": "eu-west-2",
                "stacked": true,
                "title": "Warning Log Details - Key Processing",
                "view": "table",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 27,
            "x": 12,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_processing_function}' | fields @timestamp, @message | filter metadata.category = 'ERROR' | sort @timestamp desc",
                "region": "eu-west-2",
                "stacked": true,
                "title": "Error Log Details - Key Processing",
                "view": "table",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 21,
            "x": 12,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_processing_function}' | fields @timestamp, metadata.awsRequestId as RequestId, @message | filter metadata.category = 'ERROR' | stats count(*) by metadata.name",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Error Log Count - Key Processing",
                "view": "table",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 3,
            "width": 12,
            "y": 0,
            "x": 12,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "AWS/Lambda", "Invocations", "FunctionName", "${diagnosis_keys_processing_function}" ],
                    [ "ErrorLogCount", "${diagnosis_keys_processing_function}-errors", { "color": "#d62728" } ]
                ],
                "view": "singleValue",
                "region": "eu-west-2",
                "stat": "Sum",
                "title": "Invocations and Errors for Key Processing Lambda",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 15,
            "x": 0,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "ErrorLogCount", "${diagnosis_keys_submission_function}-errors" ]
                ],
                "view": "timeSeries",
                "stacked": true,
                "region": "eu-west-2",
                "stat": "Sum",
                "title": "Error Metrics - Key Submission",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 36,
            "x": 0,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "WarningLogCount", "${diagnosis_keys_submission_function}-warnings" ]
                ],
                "view": "timeSeries",
                "stacked": true,
                "region": "eu-west-2",
                "stat": "Sum",
                "title": "Warning Metrics - Key Submission",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 21,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_submission_function}' | fields @timestamp, metadata.awsRequestId as RequestId, @message | filter metadata.category = 'ERROR' | stats count(*) by metadata.name",
                "region": "eu-west-2",
                "stacked": true,
                "title": "Error Log Count - Key Submission",
                "view": "table",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 48,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_submission_function}' | fields @timestamp, @message | filter metadata.category = 'WARNING' | sort @timestamp desc",
                "region": "eu-west-2",
                "stacked": true,
                "title": "Warning Log Details - Key Submission",
                "view": "table",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 27,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_submission_function}' | fields @timestamp, @message | filter metadata.category = 'ERROR' | sort @timestamp desc",
                "region": "eu-west-2",
                "stacked": true,
                "title": "Error Log Details - Key Submission",
                "view": "table",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 42,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_submission_function}' | fields @timestamp, metadata.awsRequestId as RequestId, @message | filter metadata.category = 'WARNING' | stats count(*) by metadata.name",
                "region": "eu-west-2",
                "stacked": true,
                "title": "Warning Log Count - Key Submission",
                "view": "table",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 3,
            "width": 12,
            "y": 0,
            "x": 0,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "AWS/Lambda", "Invocations", "FunctionName", "${diagnosis_keys_submission_function}" ],
                    [ "ErrorLogCount", "${diagnosis_keys_submission_function}-errors", { "color": "#d62728" } ]
                ],
                "view": "singleValue",
                "region": "eu-west-2",
                "stat": "Sum",
                "title": "Invocations and Errors for Key Submission Lambda",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 3,
            "width": 12,
            "y": 33,
            "x": 12,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "WarningLogCount", "${diagnosis_keys_processing_function}-warnings" ]
                ],
                "view": "singleValue",
                "region": "eu-west-2",
                "stat": "Sum",
                "title": "Warnings for Key Processing Lambda",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 3,
            "width": 12,
            "y": 33,
            "x": 0,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "WarningLogCount", "${diagnosis_keys_submission_function}-warnings" ]
                ],
                "view": "singleValue",
                "region": "eu-west-2",
                "stat": "Sum",
                "title": "Warnings for Key Submission Lambda",
                "setPeriodToTimeRange": true
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 9,
            "x": 12,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_processing_function}' | filter metadata.name = 'ScheduledEventStarted'\n| sort @timestamp desc\n| limit 10",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Most recent incremental distribution runs",
                "view": "table"
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 3,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_processing_function}' | fields @timestamp, @message\n| filter @message like /Submission summaries loaded/\n| sort @timestamp desc\n| parse @message /Count=(?<count>[0-9]+), Duration=(?<duration>[0-9]+)/ \n| stats max(count) as loadedSubmissions by bin(2h)",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Incremental Distribution - processed Submissions",
                "view": "timeSeries"
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 3,
            "x": 12,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_processing_function}' | fields @timestamp, @message\n| filter metadata.name = 'ValidSubmission'\n| sort @timestamp desc\n| stats count() as exportedDiagnosisKeyCount by bin(2h)",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Incremental Distribution - exported Diagnosis Keys",
                "view": "timeSeries"
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 9,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${diagnosis_keys_processing_function}' | fields @timestamp, @message\n| filter @message like /Duration:/\n| parse @message /Duration: (?<duration>.+?) ms/\n| stats max(duration/1000/60) as inc_dist_duration_minutes by bin(2h)",
                "region": "eu-west-2",
                "title": "Incremental Distribution Duration (in minutes)",
                "view": "timeSeries",
                "stacked": false
            }
        }
    ]
}