{
    "widgets": [
        {
            "type": "log",
            "x": 0,
            "y": 0,
            "width": 24,
            "height": 9,
            "properties": {
                "query": "SOURCE '/aws/lambda/${federation_keys_processing_upload_function}' | fields @message, metadata, event\n| filter metadata.name=\"UploadedDiagnosisKeys\"\n| stats sum(event.insertedExposures) by bin(30s)",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Keys uploaded to federation server",
                "view": "timeSeries"
            }
        },
        {
            "type": "log",
            "x": 0,
            "y": 9,
            "width": 24,
            "height": 6,
            "properties": {
                "query": "SOURCE '/aws/lambda/${federation_keys_processing_download_function}' | fields @message, metadata, event\n| filter metadata.name=\"DownloadedExposures\"\n| stats sum(event.downloadedExposures) by bin(30s)",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Keys downloaded from federation server",
                "view": "timeSeries"
            }
        },
        {
            "type": "log",
            "x": 0,
            "y": 15,
            "width": 24,
            "height": 6,
            "properties": {
                "query": "SOURCE '/aws/lambda/${federation_keys_processing_download_function}' | fields @message, metadata, event\n| filter metadata.name=\"DownloadedFederatedDiagnosisKeys\"\n| stats sum(event.validKeys),sum(event.invalidKeys) by event.origin",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Valid/Invalid keys downloaded from federation server",
                "view": "bar"
            }
        }
    ]
}
