{
    "widgets": [
        {
            "type": "metric",
            "height": 6,
            "width": 12,
            "y": 18,
            "x": 0,
            "properties": {
                "metrics": [
                    [ "ErrorLogCount", "${virology_submission_function}-errors" ]
                ],
                "view": "timeSeries",
                "stacked": true,
                "region": "eu-west-2",
                "stat": "Sum",
                "period": 30
            }
        },
        {
            "type": "metric",
            "height": 6,
            "width": 12,
            "y": 33,
            "x": 0,
            "properties": {
                "metrics": [
                    [ "WarningLogCount", "${virology_submission_function}-warnings" ]
                ],
                "view": "timeSeries",
                "stacked": false,
                "region": "eu-west-2",
                "title": "${virology_submission_function}-warning",
                "stat": "Sum",
                "period": 30
            }
        },
        {
            "type": "log",
            "height": 6,
            "width": 12,
            "y": 39,
            "x": 0,
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_submission_function}' | fields @timestamp, @message | filter metadata.category = 'WARNING' | sort @timestamp desc",
                "region": "eu-west-2",
                "stacked": false,
                "title": "${virology_submission_function} WARN",
                "view": "table"
            }
        },
        {
            "type": "log",
            "height": 6,
            "width": 12,
            "y": 27,
            "x": 0,
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_submission_function}' | fields @timestamp, @message | filter metadata.category = 'ERROR' | sort @timestamp desc",
                "region": "eu-west-2",
                "stacked": false,
                "title": "${virology_submission_function} ERROR",
                "view": "table"
            }
        },
        {
            "type": "metric",
            "height": 6,
            "width": 12,
            "y": 0,
            "x": 0,
            "properties": {
                "metrics": [
                    [ "AWS/ApiGateway", "5xx", "Resource", "/{proxy+}", "Stage", "$default", "Method", "POST", "ApiId", "${submission_api_gateway_id}", { "stat": "Sum", "label": "ApiGateway 5xx" } ],
                    [ ".", "4xx", ".", ".", ".", ".", ".", ".", ".", ".", { "stat": "Sum", "label": "ApiGateway 4xx" } ],
                    [ "ErrorLogCount", "${virology_submission_function}-errors", { "label": "ErrorLogCount" } ],
                    [ "WarningLogCount", "${virology_submission_function}-warnings", { "label": "WarningLogCount" } ],
                    [ "AWS/Lambda", "Invocations", "FunctionName", "${virology_submission_function}", "Resource", "${virology_submission_function}", { "stat": "Sum", "label": "Lambda Invocations" } ],
                    [ ".", "Errors", ".", ".", ".", ".", { "stat": "Sum", "label": "Lambda Errors" } ],
                    [ ".", "ConcurrentExecutions", ".", ".", ".", ".", { "label": "Lambda ConcurrentExecutions" } ]
                ],
                "view": "singleValue",
                "region": "eu-west-2",
                "title": "${virology_submission_function}-metrics",
                "stat": "Average",
                "period": 300
            }
        },
        {
            "type": "log",
            "height": 3,
            "width": 12,
            "y": 24,
            "x": 0,
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_submission_function}' | fields @timestamp, metadata.awsRequestId as RequestId, @message | filter metadata.category = 'ERROR' | stats count(*) by metadata.name",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Submission ERROR per Event",
                "view": "table"
            }
        },
        {
            "type": "log",
            "height": 3,
            "width": 12,
            "y": 45,
            "x": 0,
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_submission_function}' | fields @timestamp, metadata.awsRequestId as RequestId, @message | filter metadata.category = 'WARNING' | stats count(*) by metadata.name",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Submission WARN per Event",
                "view": "table"
            }
        },
        {
            "type": "metric",
            "height": 3,
            "width": 12,
            "y": 48,
            "x": 0,
            "properties": {
                "metrics": [
                    [ "AWS/DynamoDB", "SuccessfulRequestLatency", "TableName", "${env}-virology-ordertokens", "Operation", "PutItem", { "label": "PutItem ordertokens" } ],
                    [ "...", "${env}-virology-testresults", ".", ".", { "label": "PutItem testresults" } ],
                    [ "...", "GetItem", { "label": "GetItem testresults" } ]
                ],
                "view": "singleValue",
                "region": "eu-west-2",
                "stat": "Average",
                "period": 300
            }
        },
        {
            "type": "metric",
            "height": 6,
            "width": 12,
            "y": 0,
            "x": 12,
            "properties": {
                "metrics": [
                    [ "AWS/ApiGateway", "5xx", "Resource", "/{proxy+}", "Stage", "$default", "Method", "POST", "ApiId", "${upload_api_gateway_id}", { "stat": "Sum", "label": "ApiGateway 5xx" } ],
                    [ ".", "4xx", ".", ".", ".", ".", ".", ".", ".", ".", { "stat": "Sum", "label": "ApiGateway 4xx" } ],
                    [ "ErrorLogCount", "${virology_upload_function}-errors", { "label": "ErrorLogCount" } ],
                    [ "WarningLogCount", "${virology_upload_function}-warnings", { "label": "Lambda WarningLogCount" } ],
                    [ "AWS/Lambda", "Invocations", "FunctionName", "${virology_upload_function}", { "stat": "Sum", "label": "Lambda Invocations" } ],
                    [ ".", "Errors", ".", ".", { "stat": "Sum", "label": "Lambda Errors" } ],
                    [ ".", "ConcurrentExecutions", ".", ".", { "label": "Lambda ConcurrentExecutions" } ]
                ],
                "view": "singleValue",
                "region": "eu-west-2",
                "title": "${virology_upload_function}-metrics",
                "stat": "Average",
                "period": 300
            }
        },
        {
            "type": "metric",
            "height": 6,
            "width": 12,
            "y": 18,
            "x": 12,
            "properties": {
                "metrics": [
                    [ "ErrorLogCount", "${virology_upload_function}-errors" ]
                ],
                "view": "timeSeries",
                "stacked": true,
                "region": "eu-west-2",
                "stat": "Sum",
                "period": 30
            }
        },
        {
            "type": "log",
            "height": 3,
            "width": 12,
            "y": 24,
            "x": 12,
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_upload_function}' | fields @timestamp, metadata.awsRequestId as RequestId, @message | filter metadata.category = 'ERROR' | stats count(*) by metadata.name",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Upload ERROR per Event",
                "view": "table"
            }
        },
        {
            "type": "log",
            "height": 6,
            "width": 12,
            "y": 27,
            "x": 12,
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_upload_function}' | fields @timestamp, @message | filter metadata.category = 'ERROR' | sort @timestamp desc",
                "region": "eu-west-2",
                "stacked": false,
                "title": "${virology_upload_function} ERROR",
                "view": "table"
            }
        },
        {
            "type": "metric",
            "height": 6,
            "width": 12,
            "y": 33,
            "x": 12,
            "properties": {
                "metrics": [
                    [ "WarningLogCount", "${virology_upload_function}-warnings" ]
                ],
                "view": "timeSeries",
                "stacked": false,
                "region": "eu-west-2",
                "title": "${virology_upload_function}-warning",
                "stat": "Sum",
                "period": 30
            }
        },
        {
            "type": "log",
            "height": 6,
            "width": 12,
            "y": 33,
            "x": 12,
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_upload_function}' | fields @timestamp, @message | filter metadata.category = 'WARNING' | sort @timestamp desc",
                "region": "eu-west-2",
                "stacked": false,
                "title": "${virology_upload_function} WARN",
                "view": "table"
            }
        },
        {
            "type": "log",
            "height": 3,
            "width": 12,
            "y": 45,
            "x": 12,
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_upload_function}' | fields @timestamp, metadata.awsRequestId as RequestId, @message | filter metadata.category = 'WARNING' | stats count(*) by metadata.name",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Upload WARN per Event",
                "view": "table"
            }
        },
        {
            "type": "metric",
            "height": 3,
            "width": 12,
            "y": 48,
            "x": 12,
            "properties": {
                "metrics": [
                    [ "AWS/DynamoDB", "SuccessfulRequestLatency", "TableName", "${env}-virology-testresults", "Operation", "PutItem", { "label": "PutItem testresults" } ],
                    [ "...", "${env}-virology-ordertokens", ".", "GetItem", { "label": "GetItem test order" } ]
                ],
                "view": "singleValue",
                "region": "eu-west-2",
                "stat": "Average",
                "period": 300
            }
        },
        {
            "height": 6,
            "width": 24,
            "y": 12,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_submission_function}' | fields @timestamp, @message\n| filter @message like /eceived http request: method=POST/\n| parse @message  /path=(?<path1>\\/virology-test\\/results),requestId/\n| parse @message  /path=(?<path2>\\/virology-test\\/cta-exchange),requestId/\n| parse @message  /path=(?<path3>\\/virology-test\\/home-kit\\/order),requestId/\n| parse @message  /path=(?<path1V2>\\/virology-test\\/v2\\/results),requestId/\n| parse @message  /path=(?<path2V2>\\/virology-test\\/v2\\/cta-exchange),requestId/\n| parse @message  /path=(?<path3V2>\\/virology-test\\/v2\\/order),requestId/\n| stats count(path1) as result_polling_v1 , \n count(path2) as cta_exchange_v1 , \n count(path3) as order_v1 ,\n count(path1V2) as result_polling_v2 , \n count(path2V2) as cta_exchange_v2 , \n count(path3V2) as order_v2 \n by bin(1d)\n",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Mobile-facing Virology API calls [count/day]",
                "view": "table"
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 6,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_upload_function}' | filter metadata.name='CtaTokenGen' or metadata.name='TestResultUploaded'\n| stats count() by bin(1d) as day, event.source, event.testKit, event.testResult\n| sort day, event.source, event.testKit, event.testResult\n",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Upload [count/day]",
                "view": "table"
            }
        },
        {
            "height": 6,
            "width": 12,
            "y": 6,
            "x": 12,
            "type": "log",
            "properties": {
                "query": "SOURCE '/aws/lambda/${virology_upload_function}' | filter metadata.name='CtaTokenGen' or metadata.name='TestResultUploaded'\n| filter event.testKit != 'LAB_RESULT'\n| stats count() by bin(1d) as day, event.source, event.testKit, event.testResult\n| sort day, event.source, event.testKit, event.testResult\n",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Upload [count/day] non-PCR",
                "view": "table"
            }
        }    
    ]
}
